<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>First Name</key>
		<string>Brad</string>
		<key>Last Name</key>
		<string>Johnson</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Patrick</string>
		<key>Last Name</key>
		<string>Landin</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Ryan</string>
		<key>Last Name</key>
		<string>Christensen</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Santa</string>
		<key>Last Name</key>
		<string>Barnswallow</string>
	</dict>
</array>
</plist>
